<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.dao.SampleToxinInfoMapper">
  <resultMap id="BaseResultMap" type="com.social.pojo.SampleToxinInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="toxin_type" jdbcType="VARCHAR" property="toxinType" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, toxin_type, state
  </sql>
  <select id="getToxinId" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT id from sample_toxin_info WHERE toxin_type = #{toxinType}
  </select>
  <select id="getsampleToxinInfobySampleInfoId" resultMap="BaseResultMap">
     select  * from
     sample_toxin_info sti,sample_toxin st
     where st.toxin_id = sti.id
     and st.sample_info_id = #{sampleInfoId}
    <if test="toxinType !=null and toxinType !=''">
     and sti.id=#{toxinType}
    </if>

  </select>
  <select id="selectToxinAll" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List"/>
    from  sample_toxin_info
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sample_toxin_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sample_toxin_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.social.pojo.SampleToxinInfo">
    insert into sample_toxin_info (id, toxin_type, state
      )
    values (#{id,jdbcType=INTEGER}, #{toxinType,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.social.pojo.SampleToxinInfo">
    insert into sample_toxin_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="toxinType != null">
        toxin_type,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="toxinType != null">
        #{toxinType,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.social.pojo.SampleToxinInfo">
    update sample_toxin_info
    <set>
      <if test="toxinType != null">
        toxin_type = #{toxinType,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.social.pojo.SampleToxinInfo">
    update sample_toxin_info
    set toxin_type = #{toxinType,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>